<mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
<mat-card class="product-card">
  <mat-card-header>
    <img mat-card-avatar [src]="product.image" alt="product image">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle><b>{{ product.name }}</b></mat-card-subtitle>
  </mat-card-header>

  <h2>R {{ product.price }}</h2>

  <mat-card-actions>
    <button color="primary" mat-button *ngIf="!(cartItem$ | async)" (click)="addProductToCart()">
      <span *ngIf="!(isLoading$ | async)">Add to cart</span>
      <span *ngIf="(isLoading$ | async)">Loading...</span>
    </button>
    <div *ngIf="(cartItem$ | async)">
      <button color="primary" [disabled]="(isLoading$ | async)" mat-mini-fab aria-label="Increment product quantity" (click)="addProductToCart()">
        <mat-icon>add</mat-icon>
      </button>
      <span class="qty-text" *ngIf="!(isLoading$ | async)">{{ (cartItem$ | async)?.quantity }}</span>
      <span *ngIf="(isLoading$ | async)">Loading...</span>
      <button color="primary" [disabled]="(isLoading$ | async)" mat-mini-fab aria-label="Decrement product quantity" (click)="removeProductFromCart()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
